In [2]:


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('../data/raw/train.csv')

In [4]:
df.shape

(404290, 6)

In [8]:
df.head(14)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
5,5,11,12,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan...",1
6,6,13,14,Should I buy tiago?,What keeps childern active and far from phone ...,0
7,7,15,16,How can I be a good geologist?,What should I do to be a great geologist?,1
8,8,17,18,When do you use シ instead of し?,"When do you use ""&"" instead of ""and""?",0
9,9,19,20,Motorola (company): Can I hack my Charter Moto...,How do I hack Motorola DCX3400 for free internet?,0
10,10,21,22,Method to find separation of slits using fresn...,What are some of the things technicians can te...,0
11,11,23,24,How do I read and find my YouTube comments?,How can I see all my Youtube comments?,1
12,12,25,26,What can make Physics easy to learn?,How can you make physics easy to learn?,1
13,13,27,28,What was your first sexual experience like?,What was your first sexual experience?,1

In [9]:
new_df = df.sample(30000)

In [10]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [11]:
new_df.duplicated().sum()

np.int64(0)

In [12]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
322623,Will you share your favorite story of Antarctica?,[math] f(x) = f(x + 2) [/math] for every [math...
61632,How can I get a free iPhone 5 within 3 days?,How do I get an iPhone for free?
249139,What are the differences between biotic factor...,What are the differences between biotic and ab...
340796,How is skin color determined in babies?,How is eye color determined?
376327,Why is eating meat considered barabric but eat...,Why do some people consider eating meat unetic...

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
# merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [14]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [15]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
322623,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61632,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
249139,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
340796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
376327,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355595,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
398495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
144735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58984,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
106960,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [16]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [17]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
322623,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61632,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
249139,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
340796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
376327,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [18]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=42)